/* visual2 */
.visual2 {
	margin-top: -120px;
	padding: 275px 0 161px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: $black;
	background-size: cover;
	color: $white;
	@media #{$mobile} {
		margin-top: -58px;
		padding-top: 80px;
		padding-bottom: 20px;
	}
	.bg-img {
		display: none;
	}
	h1 {
		font: 48px/55px $archer-semi-italic;
		margin: 0 0 34px;
		@media #{$mobile} {
			font-size: 36px;
			line-height: 43px;
		}
	}
	p {
		img {
			width: 26px;
			height: auto;
			margin-left: 5px;
			margin-right: 5px;
		}
		a {
			color: inherit;
			&:hover {
				font-family: $base-medium-family;
				color: $blue9;
				text-decoration: none;
			}
		}
	}
	.label {
		display: inline-block;
		min-width: 85px;
		font-size: 14px;
		line-height: 18px;
		padding-top: 2px;
		padding-bottom: 2px;
	}
}
/* main */
.main {
	padding: 70px 0 57px;
	@media #{$mobile} {
		padding-top: 30px;
		padding-bottom: 25px;
	}
	p {
		margin-bottom: 34px;
		strong {
			font-weight: normal;
			font-family: $base-bold-family;
		}
	}

	img {
		@extend .img-responsive;
		@extend .img-rounded;
		margin: 34px;
		display: block;
	}

	.alignleft {
		float: left;
		margin: 34px;
	}

	.aligncenter,.alignNone {
		
		margin: 34px auto;
	}

	.alignright {
		float: right;
		margin: 34px;
	}

	.media-holder {
		position: relative;
		cursor: pointer;
		margin-bottom: 30px;
		max-width: 50%;
		@media #{$mobile} {
			float: none !important;
			display: block;
			width: 100%;
			max-width: 100%;
		}
		&.pull-right {
			margin-left: 30px;
			@media #{$mobile} {
				margin-left: 0;
			}
		}
		&.pull-left {
			margin-right: 30px;
			@media #{$mobile} {
				margin-right: 0;
			}
		}
		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			@include transition();
		}
		&:before {
			width: 74px;
			height: 74px;
			background: rgba(0,0,0,0.48);
			@include border-radius(50%);
			@include box-shadow(0 0 0 6px $white);
		}
		&:after {
			width: 0;
			height: 0;
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			border-left: 13px solid $white;
		}
		> img {
			@media #{$mobile} {
				width: 100%;
			}
		}
		&:hover {
			&:before,
			&:after {
				opacity: 0.9;
			}
		}
	}
	blockquote {
		background: $grey24;
		font: 26px/33px $archer-semi-italic;
		border-left: 0;
		padding: 43px 48px 56px;
		margin: 0 0 50px;
		position: relative;
		top: 19px;
		@media #{$mobile} {
			padding: 20px 25px;
		}
		q {
			&:before,
			&:after {display: none;}
		}
	}
	h1, h2, h3 {
		font-family: $archer-semi-italic;
	}
	h4, h5, h6 {
		font-family: $base-bold-family;
		text-transform: uppercase;
	}


	h1,h2,h3,h4,h5,h6 {

		padding: 20px 0;

	}


	h1 {
		margin: 0 0 25px;
	}
	h2 {
		margin: 0 0 31px;
	}
	h3 {
		margin: 0 0 45px;
	}
	h4 {
		margin: 0 0 60px;
		letter-spacing: 4px;
	}
	h5 {
		margin: 0 0 50px;
		letter-spacing: 3px;
	}
	h6 {
		margin: 0 0 20px;
	}

}
/* more-article */
.more-articles {
	position: relative;
	padding: 31px 0 53px;
	@include rotate-bg();
	&:before {
		background: $grey25;
	}
	.sub-ttl {
		font-size: 24px;
		line-height: 27px;
		margin-bottom: 0;
	}
	.ttl {
		font-size: 28px;
		line-height: 31px;
		letter-spacing: 4px;
		position: relative;
		top: -2px;
		margin-bottom: 23px;
	}
}
/* thumbnail-item */
.thumbnail-item {
	border: 0;
	padding: 0;
	line-height: 22px;
	color: $grey26;
	@include border-radius(0);
	> img {
		width: 100%;
	}
	.caption {
		padding: 30px 35px 30px;
		color: inherit;
	}
	h4 {
		font: 28px/25px $archer-semi-italic;
		color: $black;
		margin: 0 0 17px;
		a {
			color: inherit;
		}
	}
}
