/* call-area */
.call-area {
	position: relative;
	padding: 92px 0 60px;
	@media #{$mobile} {
		padding-top: 40px;
		padding-bottom: 25px;
	}
	@include rotate-bg();
	&:before {
		background: $blue15 url('#{$images}bg-call-area.jpg');
	}
	.ttl {
		margin-bottom: 45px;
		letter-spacing: 5px;
	}
	h4 {
		position: relative;
		font: 24px/27px $archer-semi-italic;
		word-spacing: -2px;
		color: $black;
		margin: 0 0 31px;
		&:before,
		&:after {
			content: '';
			display: inline-block;
			vertical-align: top;
			width: 97px;
			height: 1px;
			background: $black;
			opacity: 0.2;
			position: relative;
			top: 0.65em;
			@media #{$mobile} {
				display: none;
			}
		}
		&:before {
			margin-right: 12px;
		}
		&:after {
			margin-left: 12px;
		}
	}
	.holder {
		padding: 0 0 20px;
		font-size: 28px;
		line-height: 44px;
		.phone {
			display: inline-block;
			vertical-align: top;
			font-weight: 500;
			font-family: $base-medium-family;
			a {
				font-family: $base-font-family;
				font-weight: 300;
			}
		}
		.or {
			display: inline-block;
			vertical-align: top;
			font-size: 24px;
			font-family: $archer-semi-italic;
			padding: 0 16px;
		}
		.btn {
			min-width: 192px;
		}
	}
}
