/* footer */
#footer {
	background: $grey16;
	color: $grey31;
	padding: 61px 0;
	@media #{$mobile} {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	h4 {
		color: $white;
		font: 18px/21px $archer-bold;
		margin: 0 0 18px;
		.state {
			display: inline-block;
			vertical-align: top;
			margin: 0 0 0 7px;
			position: relative;
			top: 5px;
			width: 12px;
			height: 12px;
			@include border-radius(50%);
			background: $red;
			&.online {
				background: $green5;
			}
		}
	}
	p {
		margin-bottom: 16px;
	}
	.nav-list {
		font-size: 14px;
		line-height: 17px;
		li {
			padding: 0 0 11px;
		}
		a {
			color: inherit;
		}
	}

	.holder {
		padding: 12px 0 16px;
		font-size: 16px;
		line-height: 19px;
		color: $white;
		strong {
			font-weight: normal;
			font-family: $base-bold-family;
		}
		.logo {
			float: left;
			width: 215px;
			margin-right: 21px;
			@media #{$mobile} {
				float: none;
				display: block;
				@include center-block();
				margin-bottom: 10px;
			}
			a {
				display: block;
				height: 31px;
				background: url('#{$images}logo-footer.png') no-repeat;
				background-size: cover;
				margin: -12px 0 0;
				&:hover {
					opacity: 0.9;
				}
			}
		}
		.copyright {
			letter-spacing: 2px;
		}
	}
	.add-nav {
		font: 14px/17px $base-medium-family;
		padding-bottom: 20px;
		> li {
			position: relative;
			padding: 3px 0;
			@media #{$mobile} {
				display: block;
				float: none;
			}
			> a {
				padding: 0;
				color: inherit;
				background: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		> li + li {
			margin-left: 34px;
			@media #{$mobile} {
				margin-left: 0;
			}
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: -18px;
				bottom: 0;
				width: 2px;
				background: $white;
				opacity: 0.1;
				@media #{$mobile} {
					display: none;
				}
			}
		}
	}
	.btn-chat {
		@include border-radius(22px);
	}
}
