/* gallery-area */
.gallery-area {
	position: relative;
	padding: 119px 0 100px;
	@media #{$mobile} {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	@include rotate-bg();
	&:before {
		background: $blue4 url('#{$images}bg-gallery-area.jpg');
	}
	.decor {
		position: absolute;
		bottom: -54px;
		left: 50%;
		margin-left: -945px;
		width: 567px;
		height: 130px;
		background: url('#{$images}bg-gallery-decor.png') no-repeat;
	}
	.heading {
		h2 {
			letter-spacing: 5px;
			margin: 0 0 82px;
			@media #{$mobile} {
				margin-bottom: 25px;
			}
		}
		h3 {
			margin: 0 0 15px;
		}
	}
	.gallery {
		position: relative;
		padding: 0 50px 223px;
		font-size: 16px;
		line-height: 28px;
		color: $grey8;
		@media #{$tablet-large} {
			padding-bottom: 165px;
		}
		@media #{$mobile} {
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 0;
		}
		.slide {
			overflow: hidden;
			> img {
				float: right;
				max-width: 60.1%;
				margin: 0 0 0 5px;
				@media #{$mobile} {
					float: none;
					width: 300px;
					max-width: 100%;
					@include center-block();
					margin-bottom: 15px;
				}
			}
			figcaption {
				padding: 71px 7px 0;
				min-height: 270px;
				@media #{$tablet-large} {
					padding-top: 0;
				}
				@media #{$mobile} {
					padding-top: 0;
				}
			}
			&:focus {outline: none;}
		}
		h4 {
			font: 31px/38px $archer-semi-italic;
			color: $black;
			margin: 0 0 15px;
		}
		h5 {
			font: 14px/17px $base-bold-family;
			text-transform: uppercase;
			letter-spacing: 3px;
			margin: 0 0 8px;
		}
		.gallery-nav {
			position: absolute;
			left: 50px;
			right: 50px;
			bottom: 93px;
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: 0;
			line-height: 0;
			font-family: 'AdobeBlank';
			text-align: center;
			border-top: 1px solid $grey9;
			@media #{$mobile} {
				position: static;
			}
			> li {
				display: inline-block;
				vertical-align: top;
				font: 14px/17px $base-bold-family;
				text-transform: uppercase;
				letter-spacing: 2px;
				position: relative;
				padding: 18px 3px 0;
				@media #{$mobile} {
					display: block;
					width: 100% !important;
				}
				&:before {
					content: '';
					position: absolute;
					top: -3px;
					left: 0;
					right: 0;
					height: 2px;
					background: $grey9;
					@include transition();
					opacity: 0;
					@media #{$mobile} {
						display: none;
					}
				}
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					@include center-block();
					width: 1px;
					height: 7px;
					background: $grey9;
					@media #{$mobile} {
						display: none;
					}
				}
				&.active {
					&:before {
						opacity: 1;
					}
					a {
						color: $black;
					}
				}
				a {
					color: $grey10;
					&:hover,
					&:focus {
						text-decoration: none;
						color: $black;
					}
				}
			}
		}
		.slick-dots {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			font-size: 0;
			line-height: 0;
			font-family: 'AdobeBlank';
			text-align: center;
			@media #{$mobile} {
				display: none !important;
			}
			li {
				display: inline-block;
				vertical-align: top;
				margin: 0 5px 10px 6px;
			}
			button {
				display: block;
				border: 0;
				margin: 0;
				padding: 0;
				text-indent: -9999px;
				overflow: hidden;
				text-align: left;
				width: 10px;
				height: 10px;
				@include border-radius(50%);
				background: $black;
				opacity: 0.1;
				&:hover {
					opacity: 0.7;
				}
			}
			.slick-active {
				button {
					opacity: 0.7;
				}
			}
		}
	}
}
