@mixin transition($transition) {
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin scale($ratio) {
  -webkit-transform: scale($ratio);
-ms-transform: scale($ratio); // IE9+
transform: scale($ratio);
}

.flat{
  .plan{
    border-radius: 6px;
    list-style: none;
    padding: 0 0 20px;
    margin: 30px 0 15px;
    background: #fff;
    text-align: center;
    li{
      padding: 10px 15px;
      color: #ccc;
      border-top: 1px solid #f5f5f5;
      @include transition(300ms);
      &.plan-price{
        border-top: 0;
      }
      &.plan-name{
        border-radius: 6px 6px 0 0;
        padding: 15px;
        font-size: 24px;
        line-height: 24px;
        color: #fff;
        background: $blue8;
        margin-bottom: 30px;
        border-top: 0;
      }

      >strong{
        color: $brown;
      }

      &.plan-action{
        margin-top: 10px;
        border-top: 0;
      }
    }

    &.featured{
      @include scale(1.1);
      li{
        &.plan-name{
          background: $green3;
        }
      }
      &:hover{
        li{
          &.plan-name{
            background: $green;
          }
        }
      }
    }

    &:hover{
      li{
        &.plan-name{
          background: darken($blue8, 10%);
        }
      }
    }
  }
}

#footer {
  margin-top: 100px;
  padding-bottom: 30px;
}


/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;

    @media #{$mobile} {
      text-align: center;
      display: block;
    }
}
.credit-card-box .display-tr {
    display: table-row;

    @media #{$mobile} {

      display: block;
    }

}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;


    @media #{$mobile} {

      width: 100%;
      display: block;


      .img-responsive {
          display: block;
          margin: auto;
          float: none !important;
      }
    }
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}