/* visual3 */
.visual3 {
	padding: 213px 0 68px;
	margin-top: -120px;
	color: $white;
	position: relative;
	line-height: 24px;
	@media #{$mobile} {
		padding-top: 130px;
		padding-bottom: 30px;
	}
	.bg-img {
		display: none;
	}
	&.repeatable {
		.bg {
			background-repeat: repeat;
			background-position: 50% 100%;
		}
	}
	.bg {
		position: absolute;
		top: -250px;
		left: -500px;
		right: -500px;
		bottom: 0;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		@include rotate(-3.3deg);
	}
	.container {
		position: relative;
		z-index: 2;
	}
	h1 {
		font: 68px/71px $archer-semi-italic;
		letter-spacing: -1px;
		margin: 0 0 15px;
		@media #{$mobile} {
			font-size: 40px;
			line-height: 43px;
		}
	}
	h2 {
		font-size: 24px;
		line-height: 44px;
		text-transform: uppercase;
		letter-spacing: 6px;
		margin: 0 0 19px;
		color: $blue11;
		@media #{$mobile} {
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 0;
		}
	}
	header {
		padding: 0 0 17px;
		margin: 0 0 43px;
		position: relative;
		@media #{$mobile} {
			padding-bottom: 10px;
			margin-bottom: 15px;
		}
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			@include center-block();
			width: 176px;
			height: 3px;
			background: $white;
		}
	}
}

#content-area-services {

	img {
		display: none;
	}

}

/* service-overview */
.service-overview {
	padding: 88px 0 100px;
	line-height: 24px;
	@media #{$mobile} {
		padding-top: 28px;
		padding-bottom: 20px;
	}
	h2 {
		font: 44px/47px $archer-semi-italic;
		margin: 0 0 53px;
		@media #{$mobile} {
			margin-bottom: 15px;
		}
	}
	.offset {
		padding-bottom: 53px;
	}
}
/* num-list */
.num-list {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: $font-size-base;
	line-height: $line-height-base;
	> li {
		position: relative;
		padding: 8px 0 56px 71px;
		@media #{$mobile} {
			padding-bottom: 30px;
		}


		h5 {
			padding: 0;
			margin: 0 0 5px 0;
		}

		&.active {
			color: $blue;
			font-family: $base-bold-family;
			.num {
				color: $blue13;
			}
		}
	}
	.num {
		position: absolute;
		top: 0;
		left: 0;
		width: 47px;
		height: 47px;
		text-align: center;
		@include border-radius(50%);
		background: $blue12;
		color: $black;
		font: 28px/41px $archer-bold;
	}

	&.centered {
		.num {
			left: 50%;
			margin-left: -24px;
		}

		li {
			padding: 60px 0 50px 0;
		}
	}
	p {
		margin-bottom: 12px;
	}
	a {
		color: inherit;
		&:hover {
			text-decoration: none;
			color: $blue;
		}
	}
}
/* images-block */
.images-block {
	position: relative;
	height: 0;
	padding: 0 0 124.59%;
	margin: 0 0 86px;
	@media #{$mobile} {
		margin-bottom: 20px;
	}
	.img {
		position: absolute;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		&.img-1 {
			top: 0;
			left: 0;
			right: 0;
			bottom: 33.33%;
		}
		&.img-2 {
			top: 68.99%;
			left: 0;
			right: 34.71%;
			bottom: 0;
		}
		&.img-3 {
			top: 68.99%;
			left: 68.595%;
			right: 0;
			bottom: 0;
		}
		img {
			display: none;
		}
	}
}
/* tabset */
.nav {
	&.tabset {
		border: 1px solid $grey12;
		border-width: 1px 0 0;
		font: 14px/17px $base-bold-family;
		text-transform: uppercase;
		margin-bottom: 10px;
		> li {
			& + li {
				border-left: 1px solid $grey12;
				@media #{$mobile} {
					border-left: 0;
					border-top: 1px solid $grey12;
				}
			}
			> a {
				border-left: 0;
				border-right: 0;
				border-bottom: 0;
				border-top: 2px solid $white;
				padding-top: 25px;
				padding-bottom: 19px;
				@include border-radius(0);
				color: $grey18;
				background: $white;
				@media #{$mobile} {
					padding-top: 5px;
					padding-bottom: 5px;
					border-top: 0;
					margin-bottom: 0;
				}
				&:hover {
					border-top-color: $blue;
					color: $blue;
				}
			}
			&.active {
				> a {
					&,
					&:hover,
					&:focus {
						color: $blue;
						border-left: 0;
						border-right: 0;
						border-bottom: 0;
						border-top: 2px solid $blue;
						@media #{$mobile} {
							border-top: 0;
						}
					}
				}
			}
		}
	}
}