.scale-down .yt-block {
	
	@include scale(0.65);
	margin: -150px 0;
}

.yt-block {
	
	width: 526px;
	height: 891px;
	position: relative;


	@media #{$mobile} {

		display: none;

	}

	.logo-holder {
		position: absolute;
		top: 0;
		left: 98px;
		width: 157px;
		height: 181px;
		overflow: hidden;
	}
	.logo {
		position: absolute;
		top: 0;
		left: 0;
		width: 157px;
		height: 157px;
		background: url('#{$images}logo-yt.png') no-repeat;
		background-size: cover;
		@include transition();
		&.animated {
			margin-top: 181px;
		}
	}
	.start {
		position: absolute;
		z-index: 3;
		top: 181px;
		left: 110px;
		width: 140px;
		height: 72px;
		background: $white url('#{$images}bg-yt-start.png');
	}
	.line {
		position: absolute;
	}
	.v-line {
		background: $black;
		width: 17px;
	}
	.h-line {
		background: $grey5;
		height: 17px;
	}
	.line-01 {
		top: 251px;
		left: 174px;
		height: 46px;
	}
	.line-02 {
		top: 353px;
		left: 174px;
		height: 85px;
	}
	.line-03 {
		top: 421px;
		left: 191px;
		width: 151px;
	}
	.line-04 {
		top: 578px;
		left: 445px;
		height: 58px;
	}
	.line-05 {
		top: 619px;
		left: 287px;
		width: 158px;
	}
	.line-06 {
		top: 704px;
		left: 218px;
		height: 140px;
		background: $grey5;
	}
	.point {
		position: absolute;
		@include border-radius(50%);
		width: 31px;
		height: 31px;
		background: $white;
		border: 6px solid $green2;
		&.animated {
			margin-left: 5px;
			margin-top: 5px;
		}
	}
	.point-01 {
		top: 414px;
		left: 166px;
	}
	.point-02 {
		top: 612px;
		left: 439px;
	}
	.glass {
		position: absolute;
		top: 397px;
		left: 239px;
		width: 64px;
		height: 64px;
		background: $grey6;
		@include border-radius(50%);
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 63px;
			height: 32px;
			background: url('#{$images}bg-yt-wave.png') no-repeat;
			@include transition();
		}
		&.animated {
			&:before {
				left: 6px;
				@include rotate(-20deg);
			}
		}
	}
	.corner {
		position: absolute;
		top: 297px;
		left: 138px;
		width: 52px;
		height: 56px;
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 18px;
			width: 17px;
			height: 56px;
			background: $black;
		}
		&:before {
			top: -14px;
			@include rotate(45deg);
		}
		&:after {
			bottom: -14px;
			@include rotate(-45deg);
		}
		&.animated {
			&:before,
			&:after {
				margin-left: 8px;
				height: 42px;
			}
			&:before {
				top: -7px;
				@include rotate(30deg);
			}
			&:after {
				bottom: -7px;
				@include rotate(-30deg);
			}
		}
	}
	.light {
		position: absolute;
		top: 313px;
		left: 342px;
		width: 185px;
		height: 265px;
		background: $grey7;
		@include border-radius(3px);
		.ind {
			position: absolute;
			height: 8px;
			@include border-radius(4px);
			background: $white;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				@include border-radius(4px);
			}
			&.ind-blue {
				background-color: $blue8;
			}
			&.ind-green {
				background-color: $green2;
			}
			&.ind-large1 {
				width: 83px;
			}
			&.ind-large2 {
				width: 66px;
			}
			&.ind-large3 {
				width: 50px;
			}
			&.ind-mdl1 {
				width: 43px;
			}
			&.ind-mdl2 {
				width: 35px;
			}
			&.ind-small1 {
				width: 19px;
			}
			&.ind-small2 {
				width: 11px;
			}
			&.ind-01 {
				top: 14px;
				left: 14px;
			}
			&.ind-02 {
				top: 61px;
				left: 89px;
			}
			&.ind-03 {
				top: 107px;
				left: 14px;
			}
			&.ind-04 {
				top: 153px;
				left: 89px;
			}
			&.ind-05 {
				top: 199px;
				left: 14px;
			}
			&.ind-06 {
				top: 245px;
				left: 89px;
			}
			&.ind-07 {
				top: 44px;
				left: 14px;
			}
			&.ind-08 {
				top: 90px;
				left: 106px;
			}
			&.ind-09 {
				top: 136px;
				left: 14px;
			}
			&.ind-10 {
				top: 182px;
				left: 106px;
			}
			&.ind-11 {
				top: 228px;
				left: 14px;
			}
			&.ind-12 {
				top: 29px;
				left: 14px;
			}
			&.ind-13 {
				top: 44px;
				left: 104px;
			}
			&.ind-14 {
				top: 75px;
				left: 122px;
			}
			&.ind-15 {
				top: 90px;
				left: 32px;
			}
			&.ind-16 {
				top: 121px;
				left: 14px;
			}
			&.ind-17 {
				top: 136px;
				left: 103px;
			}
			&.ind-18 {
				top: 168px;
				left: 122px;
			}
			&.ind-19 {
				top: 182px;
				left: 32px;
			}
			&.ind-20 {
				top: 228px;
				left: 103px;
			}
			&.ind-21 {
				top: 14px;
				left: 104px;
			}
			&.ind-22 {
				top: 61px;
				left: 40px;
			}
			&.ind-23 {
				top: 107px;
				left: 104px;
			}
			&.ind-24 {
				top: 153px;
				left: 40px;
			}
			&.ind-25 {
				top: 199px;
				left: 104px;
			}
			&.ind-26 {
				top: 245px;
				left: 40px;
			}
			&.ind-27 {
				top: 29px;
				left: 70px;
			}
			&.ind-28 {
				top: 29px;
				left: 137px;
			}
			&.ind-29 {
				top: 76px;
				left: 14px;
			}
			&.ind-30 {
				top: 76px;
				left: 80px;
			}
			&.ind-31 {
				top: 121px;
				left: 70px;
			}
			&.ind-32 {
				top: 121px;
				left: 137px;
			}
			&.ind-33 {
				top: 168px;
				left: 14px;
			}
			&.ind-34 {
				top: 168px;
				left: 81px;
			}
			&.ind-35 {
				top: 213px;
				left: 70px;
			}
			&.ind-36 {
				top: 213px;
				left: 137px;
			}
			&.ind-37 {
				top: 14px;
				left: 153px;
			}
			&.ind-38 {
				top: 29px;
				left: 111px;
			}
			&.ind-39 {
				top: 61px;
				left: 14px;
			}
			&.ind-40 {
				top: 76px;
				left: 56px;
			}
			&.ind-41 {
				top: 107px;
				left: 153px;
			}
			&.ind-42 {
				top: 121px;
				left: 111px;
			}
			&.ind-43 {
				top: 153px;
				left: 14px;
			}
			&.ind-44 {
				top: 168px;
				left: 56px;
			}
			&.ind-45 {
				top: 199px;
				left: 153px;
			}
			&.ind-46 {
				top: 213px;
				left: 112px;
			}
			&.ind-47 {
				top: 245px;
				left: 14px;
			}
			&.ind-48 {
				top: 44px;
				left: 85px;
			}
			&.ind-49 {
				top: 44px;
				left: 161px;
			}
			&.ind-50 {
				top: 90px;
				left: 14px;
			}
			&.ind-51 {
				top: 90px;
				left: 89px;
			}
			&.ind-52 {
				top: 136px;
				left: 85px;
			}
			&.ind-53 {
				top: 136px;
				left: 161px;
			}
			&.ind-54 {
				top: 182px;
				left: 14px;
			}
			&.ind-55 {
				top: 182px;
				left: 89px;
			}
			&.ind-56 {
				top: 228px;
				left: 85px;
			}
			&.ind-57 {
				top: 228px;
				left: 161px;
			}
			&.ind-58 {
				top: 213px;
				left: 14px;
			}
		}
		&.animated {
			.ind {
				&.time1 {
					&:before {
						@include animation(blinker, 0.25s, linear, infinite);
					}
				}
				&.time2 {
					&:before {
						@include animation(blinker, 0.5s, linear, infinite);
					}
				}
				&.time3 {
					&:before {
						@include animation(blinker, 0.75s, linear, infinite);
					}
				}
				&.ind-red {
					&:before {
						background-color: $red;
					}
				}
				&.ind-yellow {
					&:before {
						background-color: $yellow;
					}
				}
				&.ind-black {
					&:before {
						background-color: $black;
					}
				}
			}
		}
	}
	.devices {
		position: absolute;
		top: 542px;
		left: 0;
		width: 287px;
		height: 197px;
		> img {
			display: none;
		}
		.device {
			position: absolute;
			background: $grey;
			@include border-radius(4px);
			&:before {
				content: '';
				position: absolute;
				top: 17px;
				left: 9px;
				right: 9px;
				bottom: 9px;
				background: $white;
			}
			.img {
				background: $grey;
				overflow: hidden;
				@include border-radius(4px);
				position: absolute;
				top: 26px;
				left: 17px;
				right: 17px;
				height: 54px;
				img {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					opacity: 0;
					width: 100%;
					max-width: 80%;
					max-height: 80%;
					@include transition(opacity 0.3s ease);
				}
			}
			.str {
				position: absolute;
				top: 90px;
				left: 0;
				right: 0;
				width: 87px;
				height: 8px;
				@include center-block();
				@include border-radius(4px);
				background: $grey;
			}
			.power {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 3px;
				@include center-block();
				width: 8px;
				height: 8px;
				@include border-radius(50%);
				background: $grey14;
			}
			&.device-01 {
				top: 0;
				right: 0;
				width: 222px;
				height: 162px;
				.dot {
					position: absolute;
					top: 5px;
					left: 7px;
					width: 7px;
					height: 7px;
					@include border-radius(50%);
					background: $red2;
				}
				.dot-02 {
					margin-left: 9px;
					background-color: $yellow;
				}
				.dot-03 {
					margin-left: 18px;
					background-color: $grey3;
				}
				.str-02 {
					margin-top: 15px;
				}
				.str-03 {
					margin-top: 30px;
				}
				.str-04 {
					margin-top: 45px;
				}
			}
			&.device-02 {
				top: 41px;
				left: 0;
				width: 98px;
				height: 135px;
				&:before {
					top: 9px;
					left: 9px;
					right: 9px;
					bottom: 15px;
				}
				.img {
					top: 16px;
					left: 16px;
					right: 16px;
					height: 45px;
				}
				.str {
					top: 67px;
					width: 66px;
					height: 6px;
				}
				.str-02 {
					margin-top: 11px;
				}
				.str-03 {
					margin-top: 22px;
				}
				.str-04 {
					margin-top: 33px;
				}
			}
			&.device-03 {
				top: 99px;
				left: 66px;
				width: 58px;
				height: 98px;
				&:before {
					top: 8px;
					left: 8px;
					right: 8px;
					bottom: 14px;
				}
				.img {
					top: 14px;
					left: 13px;
					right: 13px;
					height: 45px;
				}
				.str {
					width: 32px;
					height: 6px;
					top: 63px;
				}
				.str-02 {
					margin-top: 11px;
				}
			}
		}
		&.animated {
			.img {
				img {
					opacity: 1;
					@include animation(blinker, 2s, linear, infinite);
				}
			}
			
		}
	}
	.switcher {
		position: absolute;
		top:844px;
		left: 185px;
		width: 74px;
		height: 47px;
		background: $white;
		border: 6px solid $blue3;
		@include border-radius(10px);
		.btn-restart {
			position: absolute;
			top: 0;
			left: 11px;
			bottom: 0;
			margin: auto 0;
			width: 16px;
			height: 16px;
			border: 3px solid $red;
			@include border-radius(50%);
		}
		.state {
			position: absolute;
			top: 0;
			right: 11px;
			bottom: 0;
			margin: auto 0;
			width: 16px;
			height: 16px;
			@include border-radius(50%);
			background: $red;
			&.animated {
				background-color: $green3;
			}
		}
	}
}

/* visual */
.visual {
	margin: -62px 0 0;
	padding: 303px 0 285px;
	position: relative;
	z-index: 20;
	font-size: 16px;
	color: $grey3;
	@media #{$desktop} {
		padding-bottom: 85px;
	}
	@media #{$tablet-large} {
		padding-top: 160px;
		padding-bottom: 135px;
	}
	@media #{$tablet} {
		padding-top: 100px;
		padding-bottom: 50px;
	}
	@media #{$mobile} {
		margin-top: 0;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		max-width: 1630px;
		width: 90%;
		@include center-block();
		background: url('#{$images}bg-visual.svg') no-repeat;
		background-size: 100% auto;
	}
	.container {position: relative;}

	.yt-block {

		position: absolute;
		top: -140px;
		left: 50%;
		margin: 0 0 0 262px;
		@media #{$desktop} {
			top: -309px;
			margin-left: 123px;
			@include scale(0.7);
		}
		@media #{$tablet-large} {
			top: -215px;
			margin-left: 50px;
			@include scale(0.7);
		}
		@media #{$tablet} {
			position: relative;
			top: 30px;
			left: 0;
			@include center-block();
			margin-bottom: 30px;
		}

	}
	h1 {
		font: 90px/93px $archer-semi-italic;
		color: $black;
		margin: 0 0 23px;
		@media #{$tablet-large} {
			font-size: 80px;
			line-height: 83px;
		}
		@media #{$mobile} {
			font-size: 40px;
			line-height: 43px;
		}
	}
	h2 {
		font: 41px/44px $base-font-family;
		text-transform: uppercase;
		letter-spacing: 24px;
		margin: 0 0 20px;
		font-weight: 300;
		@media #{$tablet-large} {
			letter-spacing: 16px;
			font-size: 30px;
			line-height: 33px;
		}
		@media #{$tablet} {
			letter-spacing: 20px;
		}
		@media #{$mobile} {
			font-size: 21px;
			line-height: 24px;
			letter-spacing: 5px;
		}
	}
	p {
		margin: 0 0 48px;
		@media #{$mobile} {
			margin-bottom: 20px;
		}
	}
	.row > * {position: static;}
	
}
