@import "bootstrap";
@import "font-awesome/font-awesome";
@import "spark/spark";

@import "plugins/slick";
@import "_vars";
@import "_mixins";
@import "_colors";
@import "_fonts";
@import "_buttons";

@import "plugins/lesshat";
@import "plugins/animation";
@import "plugins/highlight-js/darkula";
@import "plugins/trix";
@import "plugins/sweetalert";

@import 'dashboardtheme/toolkit-light';
@import 'apptheme/toolkit';

@import 'pjax-loader';
@import "_quote-area";

trix-toolbar {
  .strike, .block-level.increase, .block-level.decrease, .history_tools {
    display: none;
  }
}

.uploadcare-widget-small {
  .uploadcare-widget-button-open {
    .m-t-0;
    .btn;
    .btn-block;
    .btn-lg;
    .btn-primary-outline;
  }
}

.uploadcare-widget-big {
  text-align: center;
  display: block;

  .uploadcare-widget {
    display: block;
  }

  .uploadcare-widget-button {
    margin: 0;
  }

  .uploadcare-widget-button-open {
    .btn;
    .btn-block;
    .btn-success;
    .btn-lg;
  }
}

.navbar-right a.dropdown-toggle {
    white-space: nowrap;

}
.table-middle {
    vertical-align: middle !important;

    tr,td,th {
        vertical-align: middle !important;
    }
}

.navbar-toggle {
    background-color: #333 !important;
    border-color: #333 !important;
}

[v-cloak] {
    opacity: 0;
}

[data-controller][v-cloak] {
    opacity: 0;
}

[data-controller] {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.statcard-gray {
    background: fadeout(#9da9b0,70%);
}

.brief-panel {
    border-top: 3px solid @brand-primary;
}

.screenshot-photo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: fadeout(#000,50%);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 10000;


    .close-screenshot {
        float: right;
        margin: 5px 5px 5px 0;
        border-color: white !important;
        color: white !important;

        &:hover {
            background: none;
        }
    }

    img {
        clear: both;
        max-width: 95%;
        margin: 10px auto;
        display: block;
    }
}

.reply-to-a-thread {

    display: block;
    padding: 0px;
    border: 0 !important;
    border-top: 1px solid fadeout(#ccc,40%) !important;
    width: 100%;
    margin: 20px 0 0 0;
    outline: none !important;
    resize: none;
    height: 50px;
    line-height: 50px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;

    &.is-opened {
        padding: 15px;
        line-height: 25px;
        overflow: auto;
    }
}

.list-group-item:hover {
    .delete-thread {
        display: block;
    }
}

.delete-thread {
    position: absolute;
    top: -10px;
    border: 1px solid #ccc;
    right: -10px;
    background: white;
    padding: 5px;
    display: none;
    border-radius: 10px;
}

.uploadcare-dialog-footer {
    display: none;
}

.uploadcare-dialog-inner-wrap {
    font-family: @base-font-family !important;
}

.accepted-task-item {
    background: fadeout(#8cc01b, 85%);
    padding: 10px !important;
}

.toggle-accepted {
    background: fadeout(#8cc01b, 85%);
    text-transform: uppercase;
    padding: 7px 0;

    a:hover {
        text-decoration: none;
    }
}

.opened {
    background: #e9e7dd !important;
    border-left: 3px solid @brand-primary;
}

.to-do-list-item {
    cursor: pointer;
}

.media-group-header {
    padding: 5px 10px !important;
    background: fadeout(#ccc, 70%);
    color: darken(#ccc, 25%) !important;
    text-transform: uppercase;
    font-weight: 700 !important;
}